simplejson==3.16.0
nbclient==0.7.4
terminado==0.17.1
lazr.uri==1.0.3
undetected-chromedriver==3.4.7
jupyter-client==8.2.0
distlib==0.3.6
fastparquet==2023.4.0
runstats==2.0.0
pycairo==1.16.2
Pympler==1.0.1
pyppeteer==1.0.2
pyquery==2.0.0
cssselect==1.2.0
distro==1.4.0
spacy-legacy==3.0.12
langcodes==3.3.0
tinycss2==1.2.1
sklearn==0.0.post5
service-identity==21.1.0
jedi==0.18.2
tzlocal==5.0.1
apturl==0.5.2
multidict==6.0.4
PyJWT==1.7.1
entrypoints==0.3
pyzmq==25.0.2
seaborn==0.12.2
validators==0.20.0
hyperlink==21.0.0
outcome==1.2.0
pycups==1.9.73
fsspec==2023.5.0
scipy==1.10.1
nbconvert==7.4.0
cycler==0.11.0
cachetools==5.3.0
autopep8==2.0.2
notebook-shim==0.2.3
h11==0.14.0
pydantic==1.10.7
tenacity==8.2.2
keyring==18.0.1
incremental==22.10.0
itemadapter==0.8.0
PyNaCl==1.3.0
altair==4.2.2
jupyter-server-ydoc==0.8.0
jupyter-ydoc==0.2.4
itemloaders==1.1.0
ptyprocess==0.7.0
pymacaroons==0.13.0
Brotli==1.0.9
rich==13.3.5
Werkzeug==2.3.4
protobuf==3.20.3
kiwisolver==1.4.4
ujson==5.7.0
async-generator==1.10
argon2-cffi-bindings==21.2.0
cupshelpers==1.0
trio-websocket==0.10.2
contourpy==1.0.7
anyio==3.6.2
comm==0.1.3
itsdangerous==2.1.2
netifaces==0.10.4
requests-unixsocket==0.2.0
aiohttp==3.8.4
parsel==1.8.1
ipython-genutils==0.2.0
decorator==5.1.1
yarl==1.9.2
aiosqlite==0.19.0
executing==1.2.0
requests-file==1.5.1
macaroonbakery==1.3.1
PyGObject==3.36.0
Protego==0.2.1
preshed==3.0.8
confection==0.0.4
olefile==0.46
matplotlib-inline==0.1.6
pure-eval==0.2.2
pyOpenSSL==23.1.1
importlib-resources==5.12.0
ipython==8.12.2
typer==0.7.0
wcwidth==0.2.6
click==8.1.3
openai==0.27.7
regex==2023.6.3
toml==0.10.2
nest-asyncio==1.5.6
joblib==1.2.0
monotonic==1.5
pyee==8.2.2
et-xmlfile==1.1.0
streamlit==1.22.0
argon2-cffi==21.3.0
wordcloud==1.9.1.1
tomli==2.0.1
Twisted==22.10.0
colorama==0.4.3
filelock==3.12.0
webencodings==0.5.1
tldextract==3.4.1
pandas-stubs==2.0.1.230501
certifi==2023.5.7
ubuntu-advantage-tools==8001
lockfile==0.12.2
selenium-wire==5.1.0
lazr.restfulclient==0.14.2
Scrapy==2.9.0
notebook==6.5.4
pathy==0.10.1
importlib-metadata==6.6.0
queuelib==1.6.2
jupyterlab==3.6.3
mdurl==0.1.2
paramiko==2.6.0
thinc==8.1.10
cfscrape==2.1.1
defer==1.0.6
blis==0.7.9
watchdog==3.0.0
parse==1.19.0
python-json-logger==2.0.7
trio==0.22.0
wsproto==1.2.0
zstandard==0.21.0
cffi==1.15.1
scrapy-zyte-api==0.8.2
requests==2.30.0
appdirs==1.4.4
six==1.14.0
prometheus-client==0.16.0
hpack==4.0.0
Babel==2.12.1
cymem==2.0.7
hyperframe==6.0.1
pycparser==2.21
python-apt==2.0.1+ubuntu0.20.4.1
traitlets==5.9.0
bs4==0.0.1
PySocks==1.7.1
defusedxml==0.7.1
ubuntu-drivers-common==0.0.0
rfc3339-validator==0.1.4
spacy-loggers==1.0.4
idna==2.8
typing-extensions==4.5.0
numpy==1.24.3
httplib2==0.14.0
matplotlib==3.7.1
jupyter-server==2.5.0
oauthlib==3.1.0
tqdm==4.65.0
pyRFC3339==1.1
scikit-learn==1.2.2
Send2Trash==1.8.2
attrs==23.1.0
tornado==6.3.1
unattended-upgrades==0.1
lxml==4.9.2
pkgutil-resolve-name==1.3.10
openpyxl==3.1.2
kaitaistruct==0.10
packaging==23.1
constantly==15.1.0
aiofiles==22.1.0
command-not-found==0.3
pickleshare==0.7.5
usb-creator==0.3.7
dbus-python==1.2.16
toolz==0.12.0
frozenlist==1.3.3
duplicity==0.8.12.0
ipykernel==6.23.0
json5==0.9.11
zipp==3.15.0
jmespath==1.0.1
pandocfilters==1.5.0
distro-info===0.23ubuntu1
rfc3986-validator==0.1.1
parso==0.8.3
jupyter-server-fileid==0.9.0
markdown-it-py==2.2.0
MarkupSafe==2.1.2
launchpadlib==1.10.13
smmap==5.0.0
Jinja2==3.1.2
jupyter-server-terminals==0.4.4
sortedcontainers==2.4.0
gitdb==4.0.10
sniffio==1.3.0
nbformat==5.8.0
jsonschema==4.17.3
debugpy==1.6.7
prompt-toolkit==3.0.38
reportlab==3.5.34
smart-open==6.3.0
zope.interface==6.0
platformdirs==3.5.0
pexpect==4.6.0
python-dotenv==1.0.0
python-dateutil==2.8.2
PyYAML==5.3.1
chrome-gnome-shell==0.0.0
backports.zoneinfo==0.2.1
charset-normalizer==3.1.0
PyDispatcher==2.0.7
chardet==3.0.4
dill==0.3.6
threadpoolctl==3.1.0
mistune==2.0.5
pyarrow==12.0.0
gensim==4.3.1
ufw==0.36
Unidecode==1.3.6
beautifulsoup4==4.12.2
xkit==0.0.0
wasabi==1.1.1
pytz==2023.3
future==0.18.2
aiosignal==1.3.1
louis==3.12.0
Mako==1.1.0
pyasn1==0.5.0
selenium==4.9.1
pyxdg==0.26
stack-data==0.6.2
GitPython==3.1.31
jupyter-events==0.6.3
jupyterlab-pygments==0.2.2
spacy==3.5.3
exceptiongroup==1.1.1
Pillow==7.0.0
asttokens==2.2.1
fastjsonschema==2.16.3
async-timeout==4.0.2
requests-html==0.10.0
python-debian===0.1.36ubuntu1
systemd-python==234
types-pytz==2023.3.0.0
Brlapi==0.7.0
fonttools==4.39.4
pandas==2.0.1
srsly==2.4.6
backcall==0.2.0
fake-useragent==1.1.3
murmurhash==1.0.9
blinker==1.6.2
psutil==5.9.5
pyrsistent==0.19.3
tiktoken==0.4.0
cramjam==2.6.2
pydeck==0.8.1b0
jupyterlab-server==2.22.1
soupsieve==2.4.1
urllib3==2.0.2
pyparsing==3.0.9
virtualenv==20.23.0
pyasn1-modules==0.3.0
bleach==6.0.0
pycodestyle==2.10.0
cryptography==40.0.2
language-selector==0.1
adblockparser==0.7
websockets==10.4
catalogue==2.0.8
jupyter-core==5.3.0
y-py==0.5.9
ypy-websocket==0.8.4
h2==4.1.0
Pygments==2.15.1
SecretStorage==2.3.1
fasteners==0.14.1
bcrypt==3.1.7
pycrypto==2.6.1
nbclassic==1.0.0
w3lib==2.1.1
wadllib==1.3.3
tzdata==2023.3
websocket-client==1.5.1
Automat==22.10.0
