seaborn==0.12.2
altair==4.2.2
jupyter-server-ydoc==0.8.0
jupyter-ydoc==0.2.4
itemloaders==1.1.0
ptyprocess==0.7.0
pymacaroons==0.13.0
Brotli==1.0.9
rich==13.3.5
matplotlib-inline==0.1.6
pure-eval==0.2.2
pyOpenSSL==23.1.1
importlib-resources==5.12.0
openai==0.27.7
regex==2023.6.3
streamlit==1.22.0
wordcloud==1.9.1.1
Scrapy==2.9.0
notebook==6.5.4
pathy==0.10.1
importlib-metadata==6.6.0
queuelib==1.6.2
jupyterlab==3.6.3
mdurl==0.1.2
paramiko==2.6.0
thinc==8.1.10
cfscrape==2.1.1
requests==2.30.0
defusedxml==0.7.1
numpy==1.21.6
matplotlib==3.5.3
scikit-learn==1.2.2
Unidecode==1.3.6
exceptiongroup==1.1.1
requests-html==0.10.0
python-debian===0.1.36ubuntu1
systemd-python==234
types-pytz==2023.3.0.0
Brlapi==0.7.0
fonttools==4.39.4
pandas==2.0.1
virtualenv==20.23.0
pyasn1-modules==0.3.0
bleach==6.0.0
pycodestyle==2.10.0
cryptography==40.0.2
